$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
  font-family: 'Noto Sans Japanese', serif;
  font-size: 16px;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: $screen-sm-min) { }

/* Medium devices (desktops, 992px and up) */
@media (max-width: $screen-md-min) { }

/* Large devices (large desktops, 1200px and up) */
@media (max-width: $screen-lg-min) { }
